@import url('common.css');
@import url('include.css');
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");
/* @import url('main-tablet.css'); */


body{
    font-family: 'Montserrat', sans-serif;
}



/* header ctyle */
.main-header{
    background: #000;
    color: #fff;
    padding: 30px 16px;
    display: flex;
    justify-content: space-between;
}
.main-header h1{
    /* background: yellowgreen; */
    /* float: left; */
    margin-left: 10px;
    margin-top: 10px;
    flex: 3;
}
.main-header .main-header__brand{
    font-size: 26px;
    font-weight: 700;
}
.main-header .main-nav{
    /* background: tomato; */
    /* float: right; */
    margin-top: 5px;
    flex: 7;
}
.main-header .main-nav .main-nav__items{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-header .main-nav .main-nav__item{
    /* border: 1px solid #fff; */
    /* float: left; */
    margin: 0 16px;
}
.main-header .main-nav .main-nav__item a{
    display: block;
    font-weight: 700;
    padding: 3px 0;
}
.main-header .main-nav .main-nav__item a:hover{
    color: #888;
    border-bottom: 5px solid #888;
}
.main-header .main-nav .main-nav__item—cta a{
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}
.main-header .main-nav .main-nav__item--cta a:hover{
    border: none;
    color: #ff1b68;
    background: #3775c7;
    margin-bottom: 5px;
}
@keyframes drop{
    0%{
        opacity: 0;
        transform: translate(0, -500px);
    }
    100%{
        opacity: 1;
        transform: translate(0, 0);
    }
}

#product-overview{
    background: orange url('lesserafim.jpeg') no-repeat center / cover;
    height: calc(100vh - 97px); 
    display: flex;
    justify-content: center;
    align-items: center;
}

#product-overview h2{
    font-size: 58px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.95);
    animation: drop 2s linear;
}

/* choose plan style */
#plans{
    /* background: orange; */
    margin: 100px auto;
    color: white;
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#plans .section-title{
    color: #000;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

#plans .plan-wrapper{
    /* background: orange; */
    width: 80%;
    display: flex;
    justify-content: space-between;
}
#plans .plan-wrapper .plan{
    width: 32%;
    background: #444;
    padding: 16px;
    border-radius: 20px;
}
#plans .plan-wrapper .plan--highlighted{
    background: #000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
#plans .plan-wrapper .plan--highlighted .plan__annotation{
    background: #fff;
    margin: 20px auto;
    font-size: 1.3em;
    color: #000;
    padding: 8px;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.plan h3,
.plan h4,
.plan h5{
    font-weight: 700;
    font-size: 1.2em;
    margin: 25px 0;
}
#plans .plan-wrapper .plan .plan__price{
    font-size: 1.5em;
    color: #ccc;
}#plans .plan-wrapper .plan .plan__features{
    margin-top: 30px;
}
#plans .plan-wrapper .plan .plan__feature{
    margin-bottom: 10px;
}
#plans .plan-wrapper .plan .btn-group{
    margin: 20px n0;
}
#key-features{
    background: #ff1b68;
    color:#fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#key-features .section-title{
    /* background: #fff; */
    font-weight: 700;
    /* margin: 20px 120px; */
    font-size: 1.2em;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#key-features .key-feature__list{
    width: 80%;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    margin-bottom: 50px;
}
#key-features .key-feature{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#key-features .key-feature__image{
    margin: 10px;
    width: 100px;
    height: 100px;
    background: #f7c6fd;
    border-radius: 90px;
    border: 1px solid #000;
}
.main-footer {
    background: #000;
    padding: 32px;
  }
  
  .main-footer__links {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .main-footer__link {
    margin: 0 16px;
  }
  
  .main-footer__link a {
    color: #fff;
    text-decoration: none;
  }
  
  .main-footer__link a:hover,
  .main-footer__link a:active {
    color: #ccc;
  }
  
/* 1024해상도 태블릿 */
@media screen and (max-width: 1024px) {
    #product-overview{
        height: calc(50vh - 97px);
    }
    
    #plans .plan-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #plans .plan-wrapper .plan--highlighted {
        order: -1;
    }

    #plans .plan-wrapper .plan {
        width: 60%;
    }

    #plans .plan-wrapper .plan .plan__features {
        display: none;
    }
}

/* 모바일 414해상도 */
@media screen and (max-width: 414px) {
    .main-header .main-nav {
        display: none;
    }

    .main-header h1 {
        margin: 0;
    }

    .main-header .main-header__brand {
        font-size: 20px;
    }

    .main-header .mobile-menu-btn {
        display: block;
        font-size: 28px;
        font-weight: 700;
    }
    #product-overview{
        height: calc(70vh - 70px);
        margin-top: 70px;
    }
    #product-overview h2 {
        font-size: 26px;
        animation: none;
    }

    #plans .plan-wrapper .plan {
        width: 80%;
    }
    #plans .plan-wrapper .plan h3,
    #plans .plan-wrapper .plan h4,
    #plans .plan-wrapper .plan h5 {
        font-size: 16px;
    }
}